.header {
    position: fixed;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 0px;
    background-color: rgb(32, 32, 32);
    display: inline-block;
}
.header-start{
    position: relative;
    height: 100%;
    width: 230px;
    display: inline-block;
}
#menuIcon {
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 8px;
    margin-left: 20px;
    
}
.youtube-logo {
    position: absolute;
    width: 120px;
    height: 75px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 8px;
    margin-left: 50px;
}
.youtube-logo:hover, #menuIcon:hover {
    cursor: pointer;
}

.header-center {
    width: 40%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-end {
    width: 18%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
}

.search-div {
    background-color: rgb(49, 49, 49);
    width: 500px;
    height: 30px;
    display: inline-block; 
    position: relative;
    margin-top: 12px;
    margin-left: 10px;
}

#search, .search-button {
    display: inline-block;
}

#search {
    width: 450px;
    height: 24px;
    background: black;
    color: whitesmoke;
}

.mic-div {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    margin-top: 12px;
}

#search-icon {
    padding: 5px;
    color: whitesmoke;
}
#mic-icon {
    color: whitesmoke;
    padding-left: 5px;
    padding-top: 4px;
    font-size: 24px;
}
.end-inner {
    width: 65px;
    height: 56px;
    display: inline-block;
    position: relative;
    text-align: center;
}

#right-end-icons {
    color: whitesmoke;
    font-size: 18px;
    margin-top: 18px;
}
.nav-left {
    display: inline-block;
}
.nav-left {
    background: rgb(49, 49, 49);
    width: 230px;
    height: 746px;
    position: fixed;
    left: 0;
    top: 55px;
    overflow-y: scroll;
}

.left-menu {
  width: 211px;
  height: 40px;
  background: rgb(49, 49, 49);
  height: 50px;
}
.menu-icon-div, .menu-items, .copyrights-div {
    display: inline-block;
} 
.menu-icon-div {
    height: 100%;
    width: 35px;
    padding: 10px;
    margin-left: 15px;
}
#menu-icon {
    font-size: 23px;
    color: whitesmoke;
    padding: 3px;
}
#menu-items {
    text-align: center;
}
.menu-item-heading {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.left-menu:hover {
    background: rgb(70, 69, 69);
    cursor: pointer;
}

.menu-boder {
    width: 200px;
    height: 2px;
    background: rgb(70, 69, 69);
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyrights-div {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 20px;
    word-spacing: 5px;
}



.contents {
    position: absolute;
    display: block;
    background: rgb(24, 24, 24);
    width: 1478px;
    height: 746px;
    margin-left: 221px;
    margin-top: 47px;
     overflow-y: scroll;
}

.content-row-div {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.items-div {
    display: inline-block;
    width: 335px;
    height: 300px;
    background: rgb(49, 49, 49);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image {
    width: 334px;
    height: 200px;
    position: absolute;
}

.content-icon-div {
    width: 335px;
    height: 101px;
    position: relative;
    margin-top: 199px;
}



.content-icon {
    width: 50px;
    height: 101px;
}

.content-name{
    width: 285px;
    height: 101px;
    position: absolute;
    top: 0px;
    left: 50px;
}

#content-icon {
    position: absolute;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 5px;
    color: whitesmoke;
}
.content-heading {
    height: 8px;
    padding-left: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: whitesmoke;
}
.artist-name {
    height: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
.views {
    height: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}
